@font-face {
	font-family: W95;
	src: url('./fonts/W95FA.eot');
	src: url('./fonts/W95FA.eot?#iefix') format('embedded-opentype'),
		url('./fonts/W95FA.otf') format('opentype'),
		url('./fonts/W95FA.woff2') format('woff2'),
		url('./fonts/W95FA.woff') format('woff'),
		url('./fonts/W95FA.ttf') format('truetype'),
		url('./fonts/W95FA.svg#svgFontName') format('svg');
	font-weight: normal;
}

/* 
Font filetypes:
[x] EOT - IE9 Compat Modes
[x] EOT Embedded - IE6-IE8
[x] OTF - Super Modern Browsers
[x] Woff2 - Super Modern Browsers
[x] Woff - Pretty Modern Browsers
[x] TTF - Safari, Android, iOS
[x] SVG - Legacy iOS
*/

/* TODO Need to refactor, repetitive */

:root {
	/* Colours */
	--bg-primary: #008080;
	--text-color: #222222;
	--surface: #c0c0c0;
	--button-highlight: #ffffff;
	--button-face: #dfdfdf;
	--button-shadow: #808080;
	--window-frame: #0a0a0a;
	--dialog-blue: #000080;
	--dialog-blue-light: #1084d0;
	--dialog-gray: #808080;
	--dialog-gray-light: #b5b5b5;
	--link-blue: #0000ff;

	--taskbar-height: 40px;

	/* Font */
	font-family: W95, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: inherit;
	margin: 0;
}

input,
select,
option {
	font-family: inherit;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--bg-primary);
}

img {
	max-width: 100%;
	height: auto;
}

button {
	font-family: W95;
	background-color: var(--surface);
	width: 82px;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
		inset 2px 2px #dfdfdf;
}

button span {
	font-family: W95;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:active {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
		inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

button span:active {
	width: 100%;
	border: 0.5px dotted black;
}

/* Utility Classes */

.bold {
	/* No bold for W95 font so created manually */

	text-shadow: 0.5px 0px black, 1.5px 0px black, 2px 0px black;
	color: transparent;
	letter-spacing: 2px;
}

.inset {
	background-color: var(--surface);
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
		inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.border {
	box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
		inset 2px 2px #dfdfdf;
}

.border-reverse {
	box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
		inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.btn-sm {
	width: 72px;
}

.btn-md {
	width: 82px;
}

.icon-sm {
	width: 22px;
}

/* Styling Classes */

.desktop {
	height: calc(100vh - var(--taskbar-height));
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.title {
	padding: 1rem;
	font-weight: 400;
	text-align: center;
}

.taskbar {
	position: absolute;
	padding: 3px;
	bottom: 0;
	height: var(--taskbar-height);
	width: 100%;
	background-color: var(--surface);
	display: flex;
	justify-content: space-between;
	border-top: 2px solid white;
}

.start-btn {
	height: 95%;
}

.start {
	font-size: 1.1rem;
	padding-left: 2px;
	letter-spacing: 1px;
}

.taskbar-item {
	padding-left: 0.3rem;
	padding-right: 0.3rem;
}

.modal-box {
	padding: 3px;
	background-color: var(--surface);
	width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 23rem;
}

.modal-title {
	padding: 2px;
	display: flex;
	justify-content: flex-start;
}

.modal-title img {
	width: 18px;
}

.modal-control {
	padding: 2px;
	display: flex;
	justify-content: space-between;
	color: white;
}

.modal-box select {
	min-width: 10rem;
}

.modal-control button {
	background-color: var(--surface);
	display: flex;
	width: 1.2rem;
	height: 1.2rem;
}

.modal-body {
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.modal-body label {
	padding: 1rem 0;
}

.header-bar {
	background: linear-gradient(
		90deg,
		var(--dialog-blue),
		var(--dialog-blue-light)
	);
	color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.selections {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 1rem;
}
